*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background-color: #39343F;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu h1{
    display: none;
}

.menu .menu-logo{
    height: 50px;
}

.menu .menu-icono{
    height: 40px;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    padding: 0 6px;
}

.menu .menu-links{
    display: none;
    justify-content: space-evenly;
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    flex-grow: 1;
}

.menu .menu-links a:visited{
    color: white;
}

.menu .menu-links a:link{
    color: white;
}

.menu .menu-redes{
    display: none;
    gap: 10px;
    align-items: center;
}
/* ALTERNATIVA CON FLEX */
.hero{
    background-color: green;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
}

.hero-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}
/* FIN ALTERNATIVA CON FLEX */

/* ALTERNATIVA CON GRID
.hero{
    background-color: green;
    height: 100vh;
    color: white;
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-areas: ". hero .";
}

.hero-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: hero;
}
*/
.hero-contenido .titulo{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width:1000px){
    .menu .menu-icono{
        display: none;
    }

    .menu .menu-redes{
        display: flex;
    }

    .menu .menu-links{
        display: flex;
    }
}