/* coloca tus estilos aquí */

body{
    background-color: gray;
}


.boton{
    padding: 10px 35px;
    text-decoration: none;
    border: 1px solid blue;
    font-weight: bold;
}

.boton-rojo{
    background-color: red;
}

.boton-azul{
    background-color: blue;
}